<!DOCTYPE html>
<html lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:th="http://www.thymeleft.org"
      xsi:schemaLocation="http://www.thymeleft.org ">

<head>
  <meta charset="UTF-8">
  <title>Accountant</title>
</head>
<body>
<div align="center">
  <h1>Client group average spend</h1>
  <br/><br/>
  <table border="1" , cellpadding="10">
    <thead>
    <tr>
      <th> Client group name</th>
      <th> Ave</th>
    </tr>
    </thead>
    <tbody>
    <td><span th:text="${clientAve.type}"> Name </span></td>
    <td><span th:text="${clientAve.average}"> Ave </span></td>

    </tr>
    </tbody>
  </table>
</div>
<div align="center">
  <button onclick="goBack()">Go Back</button>
  <script>
      function goBack() {
          window.history.back();
      }
  </script>
</div>
</body>
</html>