<!DOCTYPE html>
<html lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:th="http://www.thymeleft.org"
      xsi:schemaLocation="http://www.thymeleft.org ">

<head>
  <meta charset="UTF-8">
  <title>Restaurant</title>
</head>
<body>
<div align="center">
  <h1>Welcome to Story`s! </h1>
  <button onclick="viewRestaurantInfo()">View restaurant info.</button>
  <script>
      function viewRestaurantInfo() {
          window.location.href = "http://localhost:8080/restaurantInfo";
      }
  </script>
  <button onclick="viewWaitress()">View waiter</button>
  <script>
      function viewWaitress() {
          window.location.href = "http://localhost:8080/waiters";
      }
  </script>
  <button onclick="viewSales()">View sales</button>
  <script>
      function viewSales() {
          window.location.href = "http://localhost:8080/sales";
      }
  </script>
  <button onclick="viewClients()">View clients</button>
  <script>
      function viewClients() {
          window.location.href = "http://localhost:8080/clients";
      }
  </script>
  <button onclick="viewMenu()">MENU</button>
  <script>
      function viewMenu() {
          window.location.href = "http://localhost:8080/menu";
      }
  </script>
  <button onclick="viewAccountant()">Accountant info</button>
  <script>
      function viewAccountant() {
          window.location.href = "http://localhost:8080/accountant";
      }
  </script>
</div>
</body>
</html>